body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px auto;
  padding: 8px;
  /* not using a border like I thought because padding adds space on its own */
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 8px; /* needed to add margin bottom for exact # */
  padding: 8px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px; /* didnt see the proper padding */
  margin-bottom: 8px; /* needed to add margin bottom for exact # */

}

.button-container {
  /*margin-top: 10px;*/ /* not needed */
  padding: 8px;
  background: #e3f4ff;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: auto;
  padding: 8px 24px;
}
